/* - - - - RESET CSS - - - - */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

:root {
    --color-base: #1a1616;

    --title-font: 'Oswald', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}

.placeholder {
    height: 90svh;
    width: 100%;
}

.main-wrapper.visionary-objective {
    position: relative;

    width: 100%;
    height: 70vh;
    min-height: 620px;

    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url('assets/iswanto-arif-OJ74pFtrYi0-unsplash.jpg') center center / cover no-repeat fixed;

    perspective: 1000px;
    overflow: hidden;

    box-shadow: -8px 0px 20px 10px rgba(0, 0, 0, .55);
}


.main-wrapper.visionary-objective::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0.5) 100%);

    z-index: 5;
}

.hydra-card.visionary-card {
    position: relative;
    width: 100%;
    max-width: 660px;

    border-radius: 3px;
    padding: 20px 50px 40px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    box-shadow: 0px 10px 50px 0px #000;
    background: rgba(33, 37, 41, .95);

    z-index: 5;
    transform-style: preserve-3d;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title {
    transform: translateZ(80px);
    text-shadow: 0px 10px 40px #000;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-text {
    transform: translateZ(40px);
    text-shadow: 0px 10px 20px #000;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title::before,
.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title::after {
    opacity: .5;
}

.card-title {
    position: relative;

    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.desktop .card-title::before,
.main-wrapper.visionary-objective.desktop .card-title::after {
    content: '';
    position: absolute;
    top: 50%;

    width: 150px;
    height: 1px;
    display: block;

    background-color: #ffffff;

    opacity: 0;

    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.desktop .card-title::before {
    left: -10%;
}

.main-wrapper.visionary-objective.desktop .card-title::after {
    left: 84%;
}

.card-text,
.icon-text {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;

    z-index: 1;

    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.mobile {
    display: none;
}

.main-wrapper {
    height: 50svh;
    min-height: 470px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.card-title-wrapper {
    position: relative;

    min-width: 50%;
    max-width: 50%;
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title.half-page {
    text-shadow: 0px 6px 15px #000;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    box-shadow: -8px 0px 20px 10px rgba(0, 0, 0, .55);

    z-index: -1;
}

.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
    width: 100%;

    padding: 60px 40px;

    background-color: var(--color-base);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, .55);
    transition: all 0.6s ease-in-out;

}

.card-text-wrapper::before {
    content: '';

    position: absolute;
    top: 0;

    display: block;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 200px 200px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
    transform: rotate(0deg);
}

.holistic-integration .card-text-wrapper::before {
    right: 0;
}

.strategic-partnership .card-text-wrapper::before {
    left: 0;
    transform: rotate(270deg);
}

.card-text-wrapper .card-text {
    text-align: left;
    text-shadow: 0px 4px 10px BLACK;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.icon-wrapper {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-wrapper .icon-text {
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.icon-image {
    width: 60px;
    aspect-ratio: 1/1;
    margin-bottom: 20px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, .5));

    transition: all 0.5s ease-in-out;
}

.icon-image:hover {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 1));
    filter: grayscale(100%) brightness(200%);

    scale: 110%;
}

.icon-image.streamlined-icon {
    background-image: url('assets/settings.png');
}

.icon-image.innovative-icon {
    background-image: url('assets/idea.png');
}

.icon-image.market-icon {
    background-image: url('assets/wind-rose.png');
}

.icon-image.strategic-icon {
    background-image: url('assets/puzzle.png');
}

.icon-image.exponential-icon {
    background-image: url('assets/start-up.png');
}

.icon-image.collaborative-icon {
    background-image: url('assets/circles.png');
}

/* - - - - - - - - RESPONSIVITY - - - - - - - - */

@media screen and (max-width: 1024px) {
    .main-wrapper.visionary-objective.desktop {
        display: none;
    }

    .main-wrapper.visionary-objective.mobile {
        display: flex;
    }

    .icon-image {
        width: 50px;
    }

    .icon-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 950px) {
    .icon-image {
        width: 40px;
    }
}

@media screen and (max-width: 810px) {

    .main-wrapper.strategic-partnership {
        flex-wrap: wrap-reverse;
    }

    .card-title-wrapper {
        flex-wrap: wrap;

        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .main-wrapper.visionary-objective .card-title {
        font-size: 28px;
    }

    .main-wrapper.visionary-objective .card-text {
        line-height: 24px;
    }
}

@media screen and (max-width: 450px) {
    .hydra-card.visionary-card {
        padding: 20px 25px 30px;
    }
}

@media screen and (max-width: 450px) {
    .main-wrapper.visionary-objective.mobile {
        padding: 25px;
    }

    .hydra-card.visionary-card {
        gap: 20px;
    }

    .main-wrapper.visionary-objective .card-text {
        font-size: 13px;
    }
}