/* - - - - RESET CSS - - - - */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* - - - - END RESET CSS - - - - */

:root {
    --color-base: #212529;

    --title-font: 'Oswald', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}

.placeholder {
    height: 90svh;
    width: 100%;
}

.main-wrapper.visionary-objective {
    position: relative;
    width: 100%;
    min-height: 70vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('assets/iswanto-arif-OJ74pFtrYi0-unsplash.jpg') center center / cover no-repeat fixed;
    perspective: 1000px;
    overflow: hidden;
}


.main-wrapper.visionary-objective::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 85%, rgba(0, 0, 0, 0.5) 100%);

    z-index: 5;
}

.visionary-video {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}

.hydra-card.visionary-card {
    position: relative;
    width: 100%;
    max-width: 660px;

    border-radius: 3px;
    padding: 20px 50px 40px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    box-shadow: 0px 10px 50px 0px #000;
    background: rgba(33, 37, 41, .95);

    z-index: 5;
    transform-style: preserve-3d;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title {
    transform: translateZ(80px);
    text-shadow: 0px 10px 40px #000;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-text {
    transform: translateZ(40px);
    text-shadow: 0px 10px 20px #000;
}

.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title::before,
.main-wrapper.visionary-objective.desktop .hydra-card.visionary-card:hover .card-title::after {
    opacity: .5;
}

.card-title {
    position: relative;

    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.desktop .card-title::before,
.main-wrapper.visionary-objective.desktop .card-title::after {
    content: '';
    position: absolute;
    top: 50%;

    width: 150px;
    height: 1px;
    display: block;

    background-color: #ffffff;

    opacity: 0;

    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.desktop .card-title::before {
    left: -10%;
}

.main-wrapper.visionary-objective.desktop .card-title::after {
    left: 84%;
}

.card-text {
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    transition: all .3s ease-in-out;
}

.main-wrapper.visionary-objective.mobile {
    display: none;
}



/* - - - - - - - - RESPONSIVITY - - - - - - - - */

@media screen and (max-width: 1024px) {
    .main-wrapper.visionary-objective.desktop {
        display: none;
    }

    .main-wrapper.visionary-objective.mobile {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .main-wrapper.visionary-objective .card-title {
        font-size: 28px;
    }

    .main-wrapper.visionary-objective .card-text {
        line-height: 24px;
    }
}

@media screen and (max-width: 450px) {
    .hydra-card.visionary-card {
        padding: 20px 25px 30px;
    }
}

@media screen and (max-width: 450px) {
    .main-wrapper.visionary-objective.mobile {
        padding: 25px;
    }

    .hydra-card.visionary-card {
        gap: 20px;
    }

    .main-wrapper.visionary-objective .card-text {
        font-size: 13px;
    }
}